---
import { formatDate } from "../utils";
import { BASE_PATH } from "$consts";

interface Props {
  title: string;
  date: Date;
  updatedDate?: Date;
  tags?: string[];
}

let { title, date, updatedDate, tags } = Astro.props;
tags.sort();
---

<div class="article-header">
  <h1>
    <a href={`${BASE_PATH}/`} class="home-link">{title}</a>
  </h1> 
  <div class="date">
    <div> {formatDate(date)} </div>
    {updatedDate && (
      <div class="last-updated-on">
        <small> Updated on {formatDate(updatedDate)} </small>
      </div>
    )}
  </div>
  
</div>

<style>
  .article-header {
    margin-bottom: 1em;
    padding: 1em 0 0 0;
    text-align: center;
    line-height: 1;
  }

  h1 {
    margin: 0 0 0em 0;
    text-align: center;
    letter-spacing: normal;
  }

  .home-link {
    color: inherit;
    text-decoration: none;
  }

  .home-link:hover,
  .home-link:focus-visible {
    text-decoration: underline;
  }

  .date {
    margin: 0.5em 0;
    color: rgb(var(--date-color));
    font-size: 1.3rem;
  }

  .last-updated-on {
    margin-top: 0.3em;
    font-size: 1.3rem;
  }

  .tags {
    margin: 0em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
  }
</style>